<div class="container centerDiv">
<div class="row">
<h1  class="center" >Country Filter</h1>
<div class="col-sm-12 countrylist">
<input type="text" class="CountryInput" [(ngModel)]="filterText" (input)="filterCountries()" placeholder="Search Countries.....">
<div *ngIf="filterText !='' && Filterlength != 0">
<ul class="countryUl" >
<li *ngFor="let country of filteredCountries">{{ country }}</li>
</ul>
</div>
<div *ngIf="filterText ==''">
  <ul class="countryUl">
    <li *ngFor="let country of countries">{{ country }}</li>
  </ul>
  </div>
  <div class="center"  *ngIf="Filterlength == 0">No Country to list Starting with {{filterText}} </div>
<!-- <div class="center"  *ngIf="filterText ==''" >No Data Found </div> -->
</div>
</div>
</div>